--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cu118/

fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
paddleocr==3.7.0
paddlepaddle-gpu==3.3.1
opencv-contrib-python==4.10.0.84
numpy>=1.24,<2.4
pillow>=11.0
pypdfium2>=4.30
zxing-cpp>=3.1.0
